In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,(7,3)),columns=list("abc"))
df

    a   b   c
0   4  38  54
1  89  46  91
2  62  97  78
3  46  37   9
4  61  70  40
5  67  98  66
6  91  39  25

In [11]:
df.sample(3,weights=pd.Series([0.1,0.1,0.1,.1,.1,.25,.25]),replace=True)

    a   b   c
5  67  98  66
5  67  98  66
2  62  97  78